<h1>Artists#index</h1>

<%= link_to "Add Artist", new_artist_path %>
<%# add artist page %>
<table>
<tr>
    <td>id</td>
    <td>name</td>
    <td>location</td>
    <td>year</td>
    <td>hometown</td>
    <td>age</td>
</tr>
<% @artists.each do |artist| %>
<tr>
    <td>
    <%= link_to artist.id, artist_path(artist) %>
    
    </td>
    <td><%= artist.name %></td>
    <td><%= artist.location %></td>
    <td><%= artist.year %></td>
    <td><%= artist.hometown %></td>
    <td><%= artist.age %></td>
</tr>

<% end %>

</table>