<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>

<table>
<tr>
    <td>id</td>
    <td>name</td>
    <td>location</td>
    <td>year</td>
    <td>hometown</td>
    <td>age</td>
</tr>
<% @artists.each do |artist| %>
<tr>
    <td><%= artist.id %></td>
    <td><%= artist.name %></td>
    <td><%= artist.location %></td>
    <td><%= artist.year %></td>
    <td><%= artist.hometown %></td>
    <td><%= artist.age %></td>
</tr>

<% end %>

</table>