<h1>Artists#index</h1>

<%= link_to "Add Artist", new_artist_path %>
<%# add artist page %>
<table>
<tr>
    <td>id</td>
    <td>name</td>
    <td>location</td>
    <td>year</td>
    <td>hometown</td>
    <td>age</td>
    <td>actions</td>
</tr>
<% @artists.each do |artist| %>
<tr>
    <td>
    <%= link_to artist.id, artist_path(artist.id) %>
    
    </td>
    <td><%= artist.name %></td>
    <td><%= artist.location %></td>
    <td><%= artist.year %></td>
    <td><%= artist.hometown %></td>
    <td><%= artist.age %></td>
    <td>
        <%= link_to "Edit", edit_artist_path(artist) %>

        <a href="/artists/<%= artist.id %>" data-method="delete" data-confirmation="Are you sure you want to delete this?"> Delete </a>
            
        <%= link_to "Delete Artist", artist_path(artist), method: "delete", data:{ confirm: "Are you sure you want to delete this artist"} %>
    </td>
</tr>

<% end %>

</table>