<h1>Artists#show</h1>
<p>Find me in app/views/artists/show.html.erb</p>

<% @artist.songs.each do |song| %>
    Artist with song <%= song.name %>
<% end %>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%# Artist Information %>
            <h3><%= @artist.name %></h3>
            <h3><%= @artist.hometown %></h3>
            <h3><%= @artist.location %></h3>
            <h3><%= @artist.age %></h3>
        </div>
        <div class="col-md-6">
        <div>
    <%= link_to "New Album", new_artist_album_path(@artist) %>
</div>
            <table class="table mt-4">
<tr>
    <td>id</td>
    <td>name</td>
    <td>Artist Name</td>
    <td>cover</td>
    <td>year</td>
    <td>number_of_songs</td>
    <td>actions</td>
</tr>
<% @artist.albums.each do |album| %>
<tr>
    <td>
    <%= link_to album.id, album_path(album.id) %>
    
    </td>
    <td><%= album.name %></td>
    <td><%= album.artist.name %></td>
    <td><%= image_tag(album.cover, height: 200, width: 200) %></td>
    <td><%= album.year %></td>
    <td><%= album.number_of_songs %></td>
    <td>
        <%= link_to "Edit", edit_artist_album_path(@artist, album), class: "btn btn-warning" %>
    </td>
</tr>

<% end %>

</table>
        </div>
    </div>

</div>