<h1>Songs#new</h1>
<p>Find me in app/views/songs/new.html.erb</p>

<%= form_for [@album, @song] do |f| %>
    <div class="form-row">
        <%= f.label :name, "Song Name" %>
        <%= f.text_field :name %>
    </div>

    <div class="form-row">
        <%= f.label :url, "Song url" %>
        <%= f.text_field :url %>
    </div>

<div>
 <%= collection_check_boxes(:song, :artist_ids, Artist.all, :id, :name) %>
</div>

    <div class="form-row">
       
        <%= f.submit "Submit" %>
    </div>
<% end %>